.canvas-container {
    padding-top: 10px;
    text-align: center;
}

.subtitle {
    font-size: 1em;
    font-weight: bolder;
}

canvas {
    border: 1px solid rgba(190, 190, 190, 1);
}

#slider {
    margin-top: 25px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;   
    background:rgba(190, 190, 190, 1); /* todo */
    cursor: pointer; /* Cursor on hover */
}

.button:hover {
    cursor: pointer;
}
  